.card {
    width: 25rem;
    margin: 25px;
}

p {
    font-size: 20px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
}

#price {
    font-weight: bold;
}

.heading {
    padding-left: 17px;
    padding-top: 5px;
}