{% extends "auctions/layout.html" %}

{% block body %}

  {% if messages %}
        <div>{{ message }}</div>
  {% endif %}
  
    <strong><h2 class="header">Create New Listing</h2></strong>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-input">
            <strong><label for="listing">Listing Name</label></strong><br>
            <input id="name-field" type="text" name="listing" required><br>
        </div>
        <div class="form-input">
            <strong><label for="price">Listing Price, $</label></strong><br>
            <input id="price-field" type="number" step="0.01" name="price" required><br>
        </div>
        <div class="form-input">
            <strong><label for="textfield">Description</label></strong><br>
            <textarea name="textfield" required></textarea></br>
        </div>
        <div class="form-input">
            <strong><label for="category">Category</label></strong>
            <select class="form-control" name="category" required>
                <!-- Default option value -->
                <!-- source: https://www.geeksforgeeks.org/how-to-set-the-default-value-for-an-html-select-element/ -->
                <option value="" selected disabled hidden>Pick Category</option>
                {% for cat in category %}
                    <option>{{ cat }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-input">
            <strong><label for="imagefield">Attach Image</label></strong><br>
            <input type="file" name="imagefield" accept="image/*" required><br><br>
        </div>
        <input type="submit">
    </form>
{% endblock %}