{% extends "auctions/layout.html" %}

{% block body %}
    {% if listings %}
        <h2 class="header">Active Listings</h2>
        <div class="row">
                {% for listing in listings %}
                    <div class="card">
                        <img src="{{ listing.photo.url }}" class="card-img-top" alt="listing-image">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.listing }}</h5>
                            <p class="card-text">{{ listing.description }}</p>
                            <p class="card-text" id="price">${{ listing.price }}</p>
                            <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">View Listing</a>
                        </div>
                    </div>
                {% endfor %}
        </div>
    {% endif %}
    {% if matched %}
        <h2 class="header">Category Listings: {{ category }}</h2>
        <div class="row">
            {% for match in matched %}
                <div class="card">
                    <img src="{{ match.photo.url }}" class="card-img-top" alt="listing-image">
                    <div class="card-body">
                        <h5 class="card-title">{{ match.listing }}</h5>
                        <p class="card-text">{{ match.description }}</p>
                        <p class="card-text" id="price">${{ match.price }}</p>
                        <a href="{% url 'listing' match.id %}" class="btn btn-primary btn-block">View Listing</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if no_listings %}
        <h2 class="header">Category Listings: {{ category }}</h2>
        <p style="color: red;">{{ no_listings }}</p>
    {% endif %}

    {% if empty_watchlist %}
        <h2 class="header">Watchlist</h2>
        <p style="color: red;">{{ empty_watchlist }}</p>
    {% endif %}

    {% if watchlist %}
        <h2 class="header">Watchlist</h2>
        <div class="row">
            {% for watch in watchlist %}
                <div class="card">
                    <img src="{{ watch.listing.photo.url }}" class="card-img-top" alt="listing-image">
                    <div class="card-body">
                        <h5 class="card-title">{{ watch.listing.listing }}</h5>
                        <p class="card-text">{{ watch.listing.description }}</p>
                        <p class="card-text" id="price">${{ watch.listing.price }}</p>
                        <a href="{% url 'listing' watch.listing.id %}" class="btn btn-primary btn-block">View Listing</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}