{% extends 'auctions/layout.html' %}

{% block body %}
    {% for listing in listings %}
        <h4>{{ listing.listing }}</h4>
    {% endfor %}
    {% for listing in listings %}
        <img src="{{ listing.photo.url }}" class="img-fluid">
        <h4>Listed By</h4>
        <p>{{ listing.user }}</p>
        <h4>Category</h4>
        <p>{{ listing.category }}</p>
        <h4>Current Bid</h4>
        <p>${{ listing.price }}</p><a href="{% url 'bid' listing.id %}"><input type="button" value="Place your bid"></a><br>
        <br><h4>Description:</h4>
        <p>{{ listing.description }}</p><br>
    {% endfor %}
        {% if comments %}
            <h4>Comments</h4>
            {% for comment in comments %}
                <p>{{ comment }}</p>
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="comment" size="50" placeholder="Comment"></input>
            <input type="submit">
        </form>
{% endblock %}