{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        <div class="mb-3">
            <h2>Login</h2>
        </div>

        {% if message %}
            <div class="mb-3" style="color: red;">{{ message }}</div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="form-input mb-3">
                <input autofocus class="form-control" type="text" name="username" placeholder="Username">
            </div>
            <div class="form-input mb-3">
                <input class="form-control" type="password" name="password" placeholder="Password">
            </div>
            <div class="form-input mb-3">
                <div class="d-flex justify-content-center">
                    <div class="d-grid gap-2 col-2 mx-auto">
                        <input class="btn btn-primary" type="submit" value="Login">
                    </div>
                </div>
            </div>
        </form>
        <div class="d-flex justify-content-center">
            Don't have an account?<a href="{% url 'register' %}" style="text-decoration: none;">&nbsp;Register here.</a>
        </div>
    </div>

{% endblock %}