{% extends 'auctions/layout.html' %}

{% block body %}
    <div class="container">
        {% for listing in listings %}
            <h2>{{ listing.listing }}</h2>
        {% endfor %}
        {% for listing in listings %}
            <div class="input-group mb-3">
                <img src="{{ listing.photo.url }}" class="img-fluid">
            </div>
            <h4>Listed By</h4>
            <p>{{ listing.user }}</p>
            <h4>Category</h4>
            <p>{{ listing.category }}</p>
            <h4>Current Bid</h4>
            <p>${{ listing.price }}</p>
            <h4>Total number of bids</h4>
            <p>{{ bids }}</h4>
            <h4>Description:</h4>
            <p>{{ listing.description }}</p>
            {% if not comments %}
                <h4>Comments</h4>
                <p>No comments on this listing.</p>
            {% else %}
                <h4>Comments</h4>
                {% for comment in comments %}
                    <p>{{ comment }}</p>
                {% endfor %}
            {% endif %}
            <form method="POST" action="{% url 'comment' listing.id %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input class="form-control" type="text" name="comment" size="50" placeholder="Comment" required></input>
                    <button class="btn btn-primary" type="submit">Comment</button>
                </div>
            </form>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input type="submit" name="end" value="Close Auction"></input>
            </div>
        </form>
    </div>
{% endblock %}