{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="header">Listings Won</h2>
    {% if message %}
        <p style="color: red;">{{ message }}</p>
    {% endif %}
    <div class="row">
        {% for listing in listings_won %}
            <div class="card">
                <img src="{{ listing.listing.photo.url }}" class="card-img-top" alt="listing-image">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.listing.listing }}</h5>
                    <p class="card-text" style="font-size: 16px;">by {{ listing.listing.user }}</p>
                    <p class="card-text">{{ listing.listing.description }}</p>
                    <p class="card-text" id="price">Winning Bid: ${{ listing.listing.price }}</p>
                    <a href="{% url 'listing' listing.listing.id %}" class="btn btn-primary btn-block">View Listing</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}